<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">My Monster</div>
            </div>
            <div class="right">
                <div id="hp">40 HP</div>
                <img class="energy icon" src="img/icon_energy.png" alt="icon_energy">photo_pikachu">
            </div>
        </header>
        <figure id="art">
            <img src="img/pikachu" alt="photo_pikachu">
            <figcaption>No 025 Monster</figcaption>
        </figure>
        <div id="capacities">
            <div id="capacity">
                <div class="main">
                    <div class="cost">
                        <img class="energy icon" src="img/icon_energy.png" alt="icon_energy">photo_pikachu">
                        <img class="energy icon" src="img/icon_energy.png" alt="icon_energy">photo_pikachu"> 
                    </div>
                    <div class="name">GEO Impact</div>
                    <div class="damage">60</div>
                </div>
                <div class="description">
                    <p>This is a long description of monster attack. Probably sommething to do with electricity</p>
                </div>

            </div>
        </div>
    </div>
</div>
